import PropTypes from 'prop-types';

const {{pascalCase name}} = props => {
  const { className } = props;
  return (
    <div className={"{{pascalCase name}}"}>
      {{pascalCase name}}
    </div>
  );
};

{{pascalCase name}}.defaultProps = {
  variant: 'default',
  className: '',
};

{{pascalCase name}}.propTypes = {
  variant: PropTypes.string,
  className: PropTypes.string,
};

export default {{pascalCase name}};